
{% set menu_selected = 'main_reclamation_Ajout' %}{% extends "dashboard_front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Réclamer un service{% endblock %}

{% block content %}


    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Profil</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        <li class="tg-active">Profil</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content">
                <div class="tg-dashboard tg-dashboardprofilesetting">
                    <div class="tg-themeform">
                        <fieldset>
                            <div class="tg-dashboardbox tg-basicinformation">

                                <div class="tg-basicinformationbox">
                                    <div style="font-size: 30px; text-align: center;">
                                        <div class="tg-sectionhead">
                                            <div class="tg-sectiontitle">
                                                <br>
                                                <br>
                                            </div>
                                            <div class="tg-description" style="font-size: 15px; text-align: center;">
                                                <p>Afin de vous satisfaire au mieux, nous allons prendre du le temps d'xaminer votre réclamation avec toute l’attention qu’elle mérite.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="tg-tablejoblidting">
                                            <tbody>
                                            {% for r in reclamations %}
                                                <div class="tg-dashboardservice">
                                                    <div class="tg-servicetitle">
                                                        <h2><a href="{{ path('main_affiche_Detail_Reclamation',{'reclamation':r.id}) }}">{{ r.Object }}</a> <span>({{ r.userreclame.firstname }})</span></h2>
                                                    </div>
                                                    <div class="tg-btntimeedit">
                                                        <span>{{ r.DateReclamation|date('F jS \\a\\t g:ia') }}</span>
                                                        {% if r.seen==0 %}
                                                        <a class="tg-btnedite" href="{{ path('main_modifier_reclamation',{'rec':r.id}) }}"><i class="lnr lnr-pencil"></i></a>
                                                        <a class="tg-btndel" href="{{ path('main_supprimer_reclamation',{'rec':r.id}) }}"><i class="lnr lnr-trash"></i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tg-sectiontitle">
                                        <br>
                                        <br>
                                        <h2>Réclamer Un Service</h2>
                                    </div>
                                    <div class="tg-contactusarea">
                                        <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
                                            <form class="tg-themeform" method="post">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                            <div class="form-group">
                                                                <select class="form-control" name="UserAReclamer">
                                                                    {% for u in user %}
                                                                        <option value="{{ u.UserOffreur.id}}"> {{ u.UserOffreur.firstname }} - {{ u.service.nom }} - {{ u.daterealisation|date('"m/d/Y"') }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                            <div class="form-group">
                                                                <input type="text" name="Object" id="Object" class="form-control" placeholder="Object" style="width: 440px">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="form-group">
                                                                <textarea placeholder="Description" id="Description" name="Description"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <button type="submit" class="tg-btn" id="valider">Valider</button>
                                                            <a  class="tg-btn">Retour à la page d'accueil</a>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $("#Object").keyup(function(){
            if($(this).val().length < 5){
                $(this).css({
                    borderColor : 'red',
                    color : 'red'
                });
            }
            else{
                $(this).css({
                    borderColor : 'green',
                    color : 'grey'

                });
            }
        });

        $("#Description").keyup(function(){
            if($(this).val().length < 5){
                $(this).css({
                    borderColor : 'red',
                    color : 'red'
                });
                document.getElementById("valider").disabled = true;
            }
            else{
                $(this).css({
                    borderColor : 'green',
                    color : 'grey'
                });
                document.getElementById("valider").disabled = false;
            }
        });


    </script>
{% endblock %}