
{% set menu_selected = 'main_reclamation_Ajout' %}{% extends "dashboard_front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Réclamer un service{% endblock %}
{% block content %}
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Profil</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        <li class="tg-active">Profil</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <script type="text/javascript">
            function amount() {
                document.getElementById("montantscoin").value=(document.getElementById("scoin").value/2).toString().concat(" DT");
            }
        </script>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content">
                <div class="tg-dashboard tg-dashboardprofilesetting">
                    <div class="tg-themeform">
                        <fieldset>
                            <div class="tg-dashboardbox tg-basicinformation">

                                <div class="tg-basicinformationbox">
                                    <div style="font-size: 30px; text-align: center;">
                                        <div class="tg-sectionhead">
                                            <div class="tg-sectiontitle">
                                                <br>
                                                <br>
                                            </div>
                                            <div class="tg-description" style="font-size: 15px; text-align: center;">
                                                <p>Afin de vous satisfaire au mieux, nous allons prendre du le temps d'xaminer votre réclamation avec toute l’attention qu’elle mérite.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="tg-tablejoblidting">
                                            <tbody>
                                            {% for s in services %}
                                                <div class="tg-dashboardservice">
                                                    <div class="tg-servicetitle">
                                                        <h2><a href="javascript:void(0);">{{ s.UserOffreur.firstname }}</a> <span>({{ s.service.nom }})</span></h2>
                                                    </div>
                                                    <div class="tg-btntimeedit">
                                                        <a class="tg-btnedite" href="{{ path('main_ajout_note_service_accompli',{'s':s.id}) }}">noter</i></a>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tg-sectiontitle">
                                        <br>
                                        <br>
                                        <h2>Réclamer Un Service</h2>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
