{% extends "back.html.twig" %}
{% block content %}
    <main class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Modifier outli</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        <div class="form-group col-md-2">
                            <label for="inputZip">Nom</label>
                            <input type="text" class="form-control" name="inputNom" value="{{ outil.nom }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputQuantite">Quantité</label>
                            <input type="text" class="form-control" name="inputQuantite" value="{{ outil.quantite }}">
                        </div>
                        <div class="form-group">
                            <label for="inputDuree">La durée maximale</label>
                            <input type="text" class="form-control" name="inputDuree" value="{{ outil.dureeMaximale }}">
                        </div>
                        <div class="form-group">
                            <label for="inputPrix">Prix en Scoin</label>
                            <input type="text" class="form-control" name="inputPrix" value="{{ outil.prix }}" >
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputAdresse">Adresse</label>
                                <input type="text" class="form-control" name="inputAdresse" value="{{ outil.adresse }}" >
                            </div>
                            <div class="form-group">
                                <label for="inputCodePostal">Code postal</label>
                                <input type="text" class="form-control" name="inputCodePostal" value="{{ outil.codePostal }}" >
                            </div>
                            <div class="form-group">
                                <label for="inputVille">Ville</label>
                                <input type="text" class="form-control" name="inputVille" value="{{ outil.ville }}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label w-100">Ajouter une image</label>
                            <input type="file" name="inputImage">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputCategorie">Categorie</label>
                            <select name="inputCategorie" class="form-control" value="{{ outil.CategorieOutils.nom }}">
                                <option value="{{ outil.CategorieOutils.id }}">
                                    {{ outil.CategorieOutils.nom }}
                                </option>
                                {% for c in categorie %}
                                {% if c.id != outil.CategorieOutils.id %}
                                    <option value="{{ c.id }}">
                                        {{ c.nom }}
                                    </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}