{% extends "back.html.twig" %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">

            <div class="row">
                <div class="col-12 col-md-6 col-xl d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="mb-2">{{ revenusTotal[0].MON }} DT</h3>
                                    <div class="mb-0">Revenus total</div>
                                </div>
                                <div class="col-4 ml-auto text-right">
                                    <div class="d-inline-block mt-2">
                                        <i class="feather-lg text-info" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="mb-2">{{ revenusAnnee[0].MON }} DT</h3>
                                    <div class="mb-0">Revenus cette année</div>
                                </div>
                                <div class="col-4 ml-auto text-right">
                                    <div class="d-inline-block mt-2">
                                        <i class="feather-lg text-danger" data-feather="dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-8">
                                    {% if visitorsToday[0].VIS!=null %}
                                        <h3 class="mb-2">{{ visitorsToday[0].VIS }}</h3>
                                        <div class="mb-0">Visiteurs aujourd'hui</div>
                                    {% else %}
                                        <h3 class="mb-2">Aucun</h3>
                                        <div class="mb-0">Visiteur aujourd'hui</div>
                                    {% endif %}
                                </div>
                                <div class="col-4 ml-auto text-right">
                                    <div class="d-inline-block mt-2">
                                        <i class="feather-lg text-warning" data-feather="activity"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6 d-none d-xl-flex">
                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <div class="card-actions float-right">
                            </div>
                            <h5 class="card-title mb-0">TOP 3 des langues parlées</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="py-3">
                                    <div class="chart chart-xs">
                                        <canvas id="chartjs-dashboard-pie1"></canvas>
                                    </div>
                                </div>

                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th>Langue</th>
                                        <th class="text-right">Nombre de personnes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i=0 %}
                                    {% for langue in languesParlees %}
                                        <tr>
                                            <td>
                                                    {% if i==0 %} <i class="fas fa-square-full text-primary"></i>
                                                    {% elseif i==1 %} <i class="fas fa-square-full text-warning"></i>
                                                    {% elseif i==2 %} <i class="fas fa-square-full text-danger"></i>
                                                    {% endif %} {{ langue.libelle }}</td>
                                            <td class="text-right">{{ langue.NB }}</td>
                                        </tr>
                                        {% set i=i+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <script>
                        let labelsL=[];
                        let dataL=[];
                        {% for langue in languesParlees %}
                        labelsL.push("{{ langue.libelle }}");
                        dataL.push({{ langue.NB }});
                        {% endfor %}
                    </script>

                    <script>
                        document.addEventListener("DOMContentLoaded", function(event) {
                            // Pie chart
                            new Chart(document.getElementById("chartjs-dashboard-pie1"), {
                                type: 'pie',
                                data: {
                                    labels: labelsL,
                                    datasets: [{
                                        data: dataL,
                                        backgroundColor: ["#2979ff", "#ff9100", "#ff1744", "#E8EAED"],
                                        borderColor: "transparent"
                                    }]
                                },
                                options: {
                                    responsive: !window.MSInputMethodContext,
                                    maintainAspectRatio: false,
                                    legend: {
                                        display: false
                                    }
                                }
                            });
                        });
                    </script>
                </div>
                <div class="col-12 col-lg-6 d-flex">
                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <button class="btn btn-success" id="downloadRevenus"><i class="fas fa-download"></i> Télécharger</button>
                            </div>
                            <h5 class="card-title mb-0">Revenus provenants de la vente de SCoins (DT)</h5>
                        </div>
                        <div class="card-body d-flex w-100">
                            <div class="align-self-center chart chart-lg">
                                <canvas id="chartjs-revenus"></canvas>
                            </div>
                        </div>
                    </div>
                    <script>
                        function translate(n) {
                            var str;
                            if (n===1) str="Janvier"
                            else if (n===2) str ="Février";
                            else if (n===3) str ="Mars";
                            else if (n===4) str ="Avril";
                            else if (n===5) str ="Mai";
                            else if (n===6) str ="Juin";
                            else if (n===7) str ="Juillet";
                            else if (n===8) str ="Aout";
                            else if (n===9) str ="Septembre";
                            else if (n===10) str ="Octobre";
                            else if (n===11) str ="Novembre";
                            else if (n===12) str ="Décembre";
                            else str="";
                            return str;

                        }
                    </script>
                    <script>
                        let labels=[];
                        let data=[];
                        {% for stat in statAnnee %}
                        labels.push(translate({{ stat.M }}));
                        data.push({{ stat.MON }});
                        {% endfor %}
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function(event) {
                            // Bar chart
                            new Chart(document.getElementById("chartjs-revenus"), {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: "Last year",
                                        backgroundColor: "#2979ff",
                                        borderColor: "#2979ff",
                                        hoverBackgroundColor: "#2979ff",
                                        hoverBorderColor: "#2979ff",
                                        data: data
                                    }]
                                },
                                options: {
                                    maintainAspectRatio: false,
                                    legend: {
                                        display: false,
                                        labels: {
                                            fontColor: "black"
                                        }
                                    },
                                    scales: {
                                        yAxes: [{
                                            gridLines: {
                                                display: false
                                            },
                                            stacked: false,
                                            ticks: {
                                                fontColor: "black",
                                                stepSize: 20
                                            }
                                        }],
                                        xAxes: [{
                                            barPercentage: .75,
                                            categoryPercentage: .5,
                                            stacked: false,
                                            gridLines: {
                                                color: "solid"
                                            }
                                        }]
                                    }
                                }
                            });
                            var c=document.getElementById("chartjs-revenus");
                            const context=c.getContext('2d');
                            context.save();
                            context.globalCompositeOperation = 'destination-over';
                            context.fillStyle = "black";
                            context.fillRect(0, 0, canvas.width, canvas.height);

                            //context.restore();
                        });
                    </script>
                </div>
            </div>


        </div>
    </main>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset("BackResources/js/fileSaver.js") }}"></script>
    <script src="{{ asset("BackResources/js/canvas-toBlob.js") }}"></script>
    <script>
        $("#downloadRevenus").click(function() {
            $("#chartjs-revenus").get(0).toBlob(function(blob) {
                saveAs(blob, "chart_1.jpg");
            },"image/png",1);
        });
    </script>
{% endblock %}