 {% extends "front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Ajouter un produit{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
    <script src="{{ asset("service/js/moment.js") }}"></script>

    {% block js %}
        {{ parent() }}
    {% endblock %}
    <script> $(document).ready(function(){

            var $nom = $('#inputNom'),
                $quantite = $('#quantite'),
                $image = $('#inputLogo'),
                $prix = $('#prix'),
                $date = $('#date'),
                $confirmer = $('#confirmer'),
                $reset = $('#reset'),
                $erreur = $('#erreur'),
                $champ= $('.form-control');

            $champ.keyup(function(){
                if($(this).val().length ==0){ // si la chaîne de caractères est inférieure à 5
                    $(this).css({ // on rend le champ rouge
                        borderColor : 'red',
                        color : 'red'
                    });
                }
                else{
                    $(this).css({ // si tout est bon, on le rend vert
                        borderColor : 'green',
                        color : 'green'
                    });
                }
            });
            $image.change(function(){
                console.log($(this).val());
                if($(this).val() ==""){ // si la chaîne de caractères est inférieure à 5
                    $(this).css({ // on rend le champ rouge
                        borderColor : 'red',
                        color : 'red'
                    });
                }
                else{
                    $(this).css({ // si tout est bon, on le rend vert
                        borderColor : 'green',
                        color : 'green'
                    });
                }
            });
            $confirmer.click(function(e){
                if(!verifier($nom)||!verifier($quantite)||!verifier($prix)||!verifier($image)||!verifier($date))
                {
                    e.preventDefault();
                    verifier($nom);
                    verifier($quantite);
                    verifier($prix);
                    verifier($image);
                    verifier($date);
                }

            });

            $reset.click(function(){
                $image.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                    borderColor : '#ccc',
                    color : '#555'
                });
                $champ.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                    borderColor : '#ccc',
                    color : '#555'
                });
                $erreur.css('display', 'none'); // on prend soin de cacher le message d'erreur
            });

            function verifier(champ){
                if(champ.val() == "")
                { // si le champ est vide
                    $erreur.css('display', 'block'); // on affiche le message d'erreur
                    champ.css({ // on rend le champ rouge
                        borderColor : 'red',
                        color : 'red'
                    });
                    return false;
                }
                else
                {
                    champ.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                        borderColor : 'green',
                        color : 'green'
                    });
                    return true;
                }
            }

        });

    </script>
 <main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
     <!--************************************
             Login Register Start
     *************************************-->

     <div class="tg-main-section tg-haslayout">
         <div class="container">
             <div class="row">
                 <div id="tg-content" class="tg-content">
                     <div class="tg-themeform tg-formlogin-register">



    <fieldset>
        <form name="fos_user_registration_form" method="post" enctype="multipart/form-data">

            <div class="tg-themetabcontent tab-content">
                <div class="tab-pane active fade in" id="regularuser">
                    {% if error is defined %}<div class="alert alert-danger" id="error">{{ error }}</div>{% endif %}
                    <div id="erreur" style="display: none">
                        <p style="color: red">Vous n'avez pas rempli correctement les champs du formulaire !</p>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nom" class="form-control" placeholder="nom" id="inputNom">
                    </div>
                    <div class="form-group">
                        <input type="text" name="quantite" class="form-control" placeholder="quantite" id="quantite">

                    </div>
                    <div class="form-group">
                        <input type="number" name="prix" class="form-control" placeholder="prix en scoins" id="prix">

                    </div>
                    <div class="form-group">
                        <input type="date" name="date" class="form-control" placeholder="date d'expiration" id="date">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="categorie">
                            {% for u in categorie %}
                                <option value="{{ u.id}}">{{ u.nom }}</option>
                            {% endfor %}
                        </select>                    </div>
                    <div class="form-group">
                        <input type="file" name="inputLogo" id="inputLogo">
                    </div>

                    <div class="col-xs-20 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="tg-btn" id="confirmer">confirmer</button>
                        <button type="reset" class="tg-btn" id="reset">réfraichir</button>

                    </div>
                    <ul class="tg-socialicons tg-socialsharewithtext">
                        <li class="tg-facebook">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-facebook-f"></i>
                                    <span>facebook</span>
                                </em>
                            </a>
                        </li>
                        <li class="tg-twitter">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-twitter"></i>
                                    <span>twitter</span>
                                </em>
                            </a>
                        </li>
                        <li class="tg-linkedin">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-linkedin"></i>
                                    <span>linkdin</span>
                                </em>
                            </a>
                        </li>
                        <li class="tg-googleplus">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-google-plus"></i>
                                    <span>googl+</span>
                                </em>
                            </a>
                        </li>
                        <li class="tg-tumblr">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-tumblr"></i>
                                    <span>tumblr</span>
                                </em>
                            </a>
                        </li>
                        <li class="tg-vimeo">
                            <a class="tg-roundicontext" href="javascript:void(0);">
                                <em class="tg-usericonholder">
                                    <i class="fa fa-vimeo"></i>
                                    <span>vimeo</span>
                                </em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="7kpYNSb-6H3-9pUK_ZurUh7cCaow7UJeVgMT5Ii4IMI"></form>
    </fieldset>

                     </div>
                 </div>
             </div>
         </div>
     </div>
     </div>
     <!--************************************
             Login Register End
     *************************************-->
 </main>


{% endblock %}
