{% extends "back.html.twig" %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">Liste des Services</h1>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ path('main_ajouterService') }}"><button class="btn btn-pill btn-primary"> Ajouter un Service</button></a>
                        </div>
                        <div class="card-body">
                            <table id="datatables-basic" class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Categorie</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for s in service %}
                                    <tr>
                                        <td>{{ s.id }}</td>
                                        <td>{{ s.nom }}</td>
                                        <td>{{ s.CategorieService.nom }}</td>
                                        <td><a href="{{ path('main_modifierService',{'id': s.id}) }}"><button class="btn btn-warning"> Modifier</button></a> </td>
                                        <td><a href="{{ path('main_supprimerService',{'id': s.id}) }}"><button class="btn btn-danger">Supprimer</button></a> </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Description</th>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function(event) {
                    // Datatables basic
                    $('#datatables-basic').DataTable({
                        responsive: true
                    });
                    // Datatables with Buttons
                    var datatablesButtons = $('#datatables-buttons').DataTable({
                        lengthChange: !1,
                        buttons: ["copy", "print"],
                        responsive: true
                    });
                    datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
                });
            </script>

        </div>
    </main>
{% endblock %}