{% extends "back.html.twig" %}
 {% block js %}
     {{ parent() }}
     <script>$(document).ready(function(){

             var $nom = $('#nom'),
                 $description = $('#description'),
                 $image = $('#image'),
                 $confirmer = $('#confirmer'),
                 $reset = $('#reset'),
                 $erreur = $('#erreur'),
                 $champ= $('.form-control');

             $champ.keyup(function(){
                 if($(this).val().length ==0){ // si la chaîne de caractères est inférieure à 5
                     $(this).css({ // on rend le champ rouge
                         borderColor : 'red',
                         color : 'red'
                     });
                 }
                 else{
                     $(this).css({ // si tout est bon, on le rend vert
                         borderColor : 'green',
                         color : 'green'
                     });
                 }
             });
             $image.change(function(){
                 console.log($(this).val());
                 if($(this).val() ==""){ // si la chaîne de caractères est inférieure à 5
                     $(this).css({ // on rend le champ rouge
                         borderColor : 'red',
                         color : 'red'
                     });
                 }
                 else{
                     $(this).css({ // si tout est bon, on le rend vert
                         borderColor : 'green',
                         color : 'green'
                     });
                 }
             });

             $reset.click(function(){
                 $image.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                     borderColor : '#ccc',
                     color : '#555'
                 });
                 $champ.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                     borderColor : '#ccc',
                     color : '#555'
                 });
                 $erreur.css('display', 'none'); // on prend soin de cacher le message d'erreur
             });

             $confirmer.click(function(e){
                 if(!verifier($nom)||!verifier($description)||!verifier($image))
                 {
                     e.preventDefault();
                     verifier($nom);
                     verifier($description);
                     verifier($image);
                 }

             });



             function verifier(champ){
                 if(champ.val() == "")
                 { // si le champ est vide
                     $erreur.css('display', 'block'); // on affiche le message d'erreur
                     champ.css({ // on rend le champ rouge
                         borderColor : 'red',
                         color : 'red'
                     });
                     return false;
                 }
                 else
                 {
                     champ.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
                         borderColor : 'green',
                         color : 'green'
                     });
                     return true;
                 }
             }

         });

     </script>
 {% endblock %}
{% block content %}
    <main class="content">
        <div class="col-md-12">

            <h1 class="h3 mb-3">Ajouter un service</h1>

                    <div class="card">

                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data" action="{{ path('back_ajouterProposition',{'id':service.id}) }}">

                                <div class="form-group">
                                    <label class="form-label">Nom</label>
                                    <input type="text" class="form-control" placeholder="Nom" name="nom" value="{{ service.nomService }}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Categorie de Service</label>
                                    <select class="form-control" name="IdCat">
                                        {% for c in categorie %}
                                            <option value="{{ c.id }}">{{ c.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <input type="text" class="form-control" name="description">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Image Service</label>
                                    <input type="file" class="form-control" name="image">
                                </div>

                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </form>
                        </div>
                    </div>
        </div>
    </main>

{% endblock %}