{% extends "front.html.twig" %}
{% block content %}
    <!--************************************
				Home Slider Start
		*************************************-->
    <div class="tg-homebannerandslider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-accordionandcategorysearch hidden-xs">
                            <div class="tg-categoreyaccordion">
                                <div class="tg-themescrollbar">
                                    <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">




                                        <div class="tg-panel">
                                            <div class="tg-accordionheading tg-transportationtravel tg-radio">
                                                <input type="radio" id="tg-radiotransportationtravel" name="tg-categories" value="Transportation &amp; Travel">
                                                <label for="tg-radiotransportationtravel">
                                                    <span class="lnr lnr-train tg-categoryicon"></span>
                                                    <span class="tg-catenameandtypes">
															<span class="tg-categoryname">Transportation &amp; Travel</span>
															<span class="tg-typesandjobs">1715 Providers</span>
														</span>
                                                </label>
                                            </div>
                                            <div class="tg-panelcontent">
                                                <div class="tg-subcategoryradio tg-radio">
                                                    <input type="radio" id="tg-radiopacker&amp;movers" name="tg-categories" value="Packer &amp; Movers">
                                                    <label for="tg-radiopacker&amp;movers">
                                                        <span class="tg-categoryname">Packer &amp; Movers</span>
                                                        <span class="tg-typesandjobs">609 Providers</span>
                                                    </label>
                                                </div>
                                                <div class="tg-subcategoryradio tg-radio">
                                                    <input type="radio" id="tg-radiotourtravelservice" name="tg-categories" value="Tour &amp; Travel Service">
                                                    <label for="tg-radiotourtravelservice">
                                                        <span class="tg-categoryname">Tour &amp; Travel Service</span>
                                                        <span class="tg-typesandjobs">225 Providers</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-accordionandcategorysearch hidden-xs">
                            <div class="tg-categoreyaccordion">
                                <div class="tg-themescrollbar">
                                    <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">




                                        <div class="tg-panel">
                                            <div class="tg-accordionheading tg-transportationtravel tg-radio">
                                                <input type="radio" id="tg-radiotransportationtravel" name="tg-categories" value="Transportation &amp; Travel">
                                                <label for="tg-radiotransportationtravel">
                                                    <span class="lnr lnr-train tg-categoryicon"></span>
                                                    <span class="tg-catenameandtypes">
															<span class="tg-categoryname">Transportation &amp; Travel</span>
															<span class="tg-typesandjobs">1715 Providers</span>
														</span>
                                                </label>
                                            </div>
                                            <div class="tg-panelcontent">
                                                <div class="tg-subcategoryradio tg-radio">
                                                    <input type="radio" id="tg-radiopacker&amp;movers" name="tg-categories" value="Packer &amp; Movers">
                                                    <label for="tg-radiopacker&amp;movers">
                                                        <span class="tg-categoryname">Packer &amp; Movers</span>
                                                        <span class="tg-typesandjobs">609 Providers</span>
                                                    </label>
                                                </div>
                                                <div class="tg-subcategoryradio tg-radio">
                                                    <input type="radio" id="tg-radiotourtravelservice" name="tg-categories" value="Tour &amp; Travel Service">
                                                    <label for="tg-radiotourtravelservice">
                                                        <span class="tg-categoryname">Tour &amp; Travel Service</span>
                                                        <span class="tg-typesandjobs">225 Providers</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-featuredprofiles">
                            <h1><span>Featured</span><span>Service Providers</span></h1>
                            <div id="tg-featuredprofileslider" class="tg-featuredprofileslider owl-carousel">
                                <div class="item tg-profile tg-featuredprofile">
                                    <figure>
                                        <img src="{{ asset("service/images/slider/img-01.jpg") }}" alt="image description">
                                        <figcaption>
                                            <div class="tg-featuredprofilecontent">
                                                <div class="tg-contentbox">
                                                    <div class="tg-companylogo"><a href="#"><img src="{{ asset("service/images/logos/img-01.png") }}" alt="image description"></a></div>
                                                    <div class="tg-companycontent">
                                                        <ul class="tg-tags">
                                                            <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                            <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                        </ul>
                                                        <div class="tg-title">
                                                            <h3><a href="#">Bright Future Group &amp; Company</a></h3>
                                                        </div>
                                                        <ul class="tg-matadata">
                                                            <li><span class="tg-stars"><span></span></span></li>
                                                            <li>
                                                                <i class="fa fa-thumbs-o-up"></i>
                                                                <em>99% (1009 votes)</em>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="tg-btn" href="listingdetail.html">View Profile</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="item tg-profile tg-featuredprofile">
                                    <figure>
                                        <img src="{{ asset("service/images/slider/img-02.jpg") }}" alt="image description">
                                        <figcaption>
                                            <div class="tg-featuredprofilecontent">
                                                <div class="tg-contentbox">
                                                    <div class="tg-companylogo"><a href="#"><img src="{{ asset("service/images/logos/img-01.png") }}" alt="image description"></a></div>
                                                    <div class="tg-companycontent">
                                                        <ul class="tg-tags">
                                                            <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                            <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                        </ul>
                                                        <div class="tg-title">
                                                            <h3><a href="#">Bright Future Group &amp; Company</a></h3>
                                                        </div>
                                                        <ul class="tg-matadata">
                                                            <li><span class="tg-stars"><span></span></span></li>
                                                            <li>
                                                                <i class="fa fa-thumbs-o-up"></i>
                                                                <em>99% (1009 votes)</em>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="tg-btn" href="listingdetail.html">View Profile</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="item tg-profile tg-featuredprofile">
                                    <figure>
                                        <img src="{{ asset("service/images/slider/img-03.jpg") }}" alt="image description">
                                        <figcaption>
                                            <div class="tg-featuredprofilecontent">
                                                <div class="tg-contentbox">
                                                    <div class="tg-companylogo"><a href="#"><img src="{{ asset("service/images/logos/img-01.png") }}" alt="image description"></a></div>
                                                    <div class="tg-companycontent">
                                                        <ul class="tg-tags">
                                                            <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                            <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                        </ul>
                                                        <div class="tg-title">
                                                            <h3><a href="#">Bright Future Group &amp; Company</a></h3>
                                                        </div>
                                                        <ul class="tg-matadata">
                                                            <li><span class="tg-stars"><span></span></span></li>
                                                            <li>
                                                                <i class="fa fa-thumbs-o-up"></i>
                                                                <em>99% (1009 votes)</em>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="tg-btn" href="listingdetail.html">View Profile</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="item tg-profile tg-featuredprofile">
                                    <figure>
                                        <img src="{{ asset("service/images/slider/img-04.jpg") }}" alt="image description">
                                        <figcaption>
                                            <div class="tg-featuredprofilecontent">
                                                <div class="tg-contentbox">
                                                    <div class="tg-companylogo"><a href="#"><img src="{{ asset("service/images/logos/img-01.png") }}" alt="image description"></a></div>
                                                    <div class="tg-companycontent">
                                                        <ul class="tg-tags">
                                                            <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                            <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                        </ul>
                                                        <div class="tg-title">
                                                            <h3><a href="#">Bright Future Group &amp; Company</a></h3>
                                                        </div>
                                                        <ul class="tg-matadata">
                                                            <li><span class="tg-stars"><span></span></span></li>
                                                            <li>
                                                                <i class="fa fa-thumbs-o-up"></i>
                                                                <em>99% (1009 votes)</em>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="tg-btn" href="listingdetail.html">View Profile</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Home Slider End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                Top Categories Start
        *************************************-->
        <section class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                        <div class="tg-sectionhead">
                            <div class="tg-sectiontitle">
                                <h2>Start With Top Categories</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adia minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip extea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tg-topcategories">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-01.png") }}" alt="image description">
                                    <figcaption class="tg-automotive">
                                        <span class="lnr lnr-car tg-categoryicon"></span>
                                        <span class="tg-categoryname">Automotive</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>3215</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-02.png") }}" alt="image description">
                                    <figcaption class="tg-beautypersonalcare">
                                        <span class="lnr lnr-heart tg-categoryicon"></span>
                                        <span class="tg-categoryname">beauty &amp; personal care</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>3045</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-03.png") }}" alt="image description">
                                    <figcaption class="tg-business">
                                        <span class="lnr lnr-apartment tg-categoryicon"></span>
                                        <span class="tg-categoryname">business</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>2478</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-04.png") }}" alt="image description">
                                    <figcaption class="tg-childcare">
                                        <span class="lnr lnr-smile tg-categoryicon"></span>
                                        <span class="tg-categoryname">child care</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>2655</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-05.png") }}" alt="image description">
                                    <figcaption class="tg-cleaning">
                                        <span class="lnr lnr-magic-wand tg-categoryicon"></span>
                                        <span class="tg-categoryname">cleaning</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>2242</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="tg-category">
                                <figure>
                                    <img src="{{ asset("service/images/categories/img-06.png") }}" alt="image description">
                                    <figcaption class="tg-computermobile">
                                        <span class="lnr lnr-laptop tg-categoryicon"></span>
                                        <span class="tg-categoryname">computer &amp; mobile services</span>
                                        <a href="#" class="tg-themetag tg-tagjobcount">
                                            <i class="fa fa-clone"></i>
                                            <em>1206</em>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tg-btnbox">
                        <a class="tg-btn tg-btnviewall" href="#">view all</a>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                Top Categories End
        *************************************-->

        <!--************************************
                News & Posts Start
        *************************************-->
        <section class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                        <div class="tg-sectionhead">
                            <div class="tg-sectiontitle">
                                <h2>News Articles &amp; Tips</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adia minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip extea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tg-newsandposts">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <article class="tg-post">
                                <figure class="tg-featuredimg">
                                    <a href="javascript:void(0);"><img src="{{ asset("service/images/post/img-01.jpg") }}" alt="image description"></a>
                                </figure>
                                <div class="tg-postcontent">
                                    <div class="tg-title">
                                        <h3><a href="#">Manchester Cleaning Service</a></h3>
                                    </div>
                                    <ul class="tg-postmatadata">
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-user"></i>
                                                <span>BY: Tamika Darbonne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-calendar-full"></i>
                                                <span>June 27, 2017</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <article class="tg-post">
                                <figure class="tg-featuredimg">
                                    <a href="javascript:void(0);"><img src="{{ asset("service/images/post/img-02.jpg") }}" alt="image description"></a>
                                </figure>
                                <div class="tg-postcontent">
                                    <div class="tg-title">
                                        <h3><a href="#">Manchester Cleaning Service</a></h3>
                                    </div>
                                    <ul class="tg-postmatadata">
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-user"></i>
                                                <span>BY: Tamika Darbonne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-calendar-full"></i>
                                                <span>June 27, 2017</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <article class="tg-post">
                                <figure class="tg-featuredimg">
                                    <a href="javascript:void(0);"><img src="{{ asset("service/images/post/img-03.jpg") }}" alt="image description"></a>
                                </figure>
                                <div class="tg-postcontent">
                                    <div class="tg-title">
                                        <h3><a href="#">Manchester Cleaning Service</a></h3>
                                    </div>
                                    <ul class="tg-postmatadata">
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-user"></i>
                                                <span>BY: Tamika Darbonne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-calendar-full"></i>
                                                <span>June 27, 2017</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <article class="tg-post">
                                <figure class="tg-featuredimg">
                                    <a href="javascript:void(0);"><img src="{{ asset("service/images/post/img-04.jpg") }}" alt="image description"></a>
                                </figure>
                                <div class="tg-postcontent">
                                    <div class="tg-title">
                                        <h3><a href="#">Manchester Cleaning Service</a></h3>
                                    </div>
                                    <ul class="tg-postmatadata">
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-user"></i>
                                                <span>BY: Tamika Darbonne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lnr lnr-calendar-full"></i>
                                                <span>June 27, 2017</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                News & Posts End
        *************************************-->
    </main>
    <!--************************************
            Main End
    *************************************-->
{% endblock %}