{% extends "front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Ma reclamation{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
    <main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
        <!--************************************
                Appointment Start
        *************************************-->
        <div class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="tg-appointmentsetting">
                    <form class="tg-formbookappointment">
                        <fieldset class="tg-formstepone tg-current">
                            <div class="tg-appointmenthead">
                                <a class="tg-btn tg-btnedite" href="{{ path('main_modifier_reclamation',{'rec':reclamation.id}) }}"><i class="lnr lnr-pencil"></i></a>
                                <div class="tg-appointmentheading">
                                    <h2>{{ reclamation.DateReclamation|date('F jS \\a\\t g:ia') }}</h2>
                                </div>
                            </div>
                            <div class="tg-progressbox">
                                {% if reclamation.seen ==0 and reclamation.traite == 0 %}
                                <ul class="tg-formprogressbar">
                                    <li class="tg-active"><span>Votre Reclamation est envoyé elle est en cours de traitemant</span></li>
                                    <li><span>Votre reclamation est vu par l'un de nos administrateurs elle sera traité bientôt</span></li>
                                    <li><span>Instructions</span></li>

                                </ul>
                                {% endif %}
                                {% if reclamation.seen ==1 and reclamation.traite == 0 %}
                                    <ul class="tg-formprogressbar ">
                                        <li><span>Votre Reclamation est envoyé elle est en cours de traitemant</span></li>
                                        <li class="tg-active" ><span>Votre Reclamation est vu par l'un de nos administrateur elle sera traité bientôt</span></li>
                                        <li><span>Instructions</span></li>

                                    </ul>
                                {% endif %}
                                {% if reclamation.seen ==1 and reclamation.traite == 1 %}
                                    <ul class="tg-formprogressbar">
                                        <li ><span>Votre Reclamation est envoyé elle est en cours de traitemant</span></li>
                                        <li ><span>Votre Reclamation est vu par l'un de nos administrateur elle sera traité bientôt</span></li>
                                        <li class="tg-active"><span>Votre Reclamation à été bien traité. Notre objectif est toujours satisfaire nos client</span></li>

                                    </ul>
                                {% endif %}
                                <h3>{{ reclamation.Object }}</h3>
                                <div class="tg-description">
                                    <p>{{ reclamation.Description }}</p>
                                </div>
                                <div class="tg-btnarea">
                                    <a href="{{ path("front_homepage") }}" class="tg-btn tg-btnnext">Retour à la page d'accueil</a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="tg-formsteptwo">
                            <div class="tg-appointmenthead">
                                <a class="tg-btn tg-btnedite" href="{{ path('main_modifier_reclamation',{'rec':reclamation.id}) }}"><i class="lnr lnr-pencil"></i></a>
                                <div class="tg-appointmentheading">
                                    <h2>Thu, Jan 25 (Tomorrow) at 12:00</h2>
                                </div>
                            </div>
                            <div class="tg-progressbox">
                                <ul class="tg-formprogressbar">
                                    <li class="tg-active"><span>Instructions</span></li>
                                    <li><span>Your Details</span></li>
                                    <li><span>Instructions</span></li>
                                    <li><span>Instructions</span></li>
                                    <li><span>Instructions</span></li>
                                </ul>
                                <div class="tg-appointmentinfo">
                                    <div class="form-group">
                                        <div class="tg-heading">
                                            <h3>Appointment Information</h3>
                                        </div>
                                        <div class="tg-reminderemail">
                                            <span>Reminder Send Via:*</span>
                                            <div class="tg-checkbox">
                                                <input type="checkbox" id="email">
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="tg-checkbox">
                                                <input type="checkbox" id="phone">
                                                <label for="phone">Phone</label>
                                            </div>
                                            <div class="tg-checkbox">
                                                <input type="checkbox" id="both">
                                                <label for="both">Both</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
													<span class="tg-select">
														<select>
															<option>Select Service*</option>
															<option>Select Service*</option>
															<option>Select Service*</option>
															<option>Select Service*</option>
														</select>
													</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
													<span class="tg-select">
														<select>
															<option>Appointment Type*</option>
															<option>Appointment Type*</option>
															<option>Appointment Type*</option>
															<option>Appointment Type*</option>
														</select>
													</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
													<span class="tg-select">
														<select>
															<option>Reason For Visit</option>
															<option>Reason For Visit</option>
															<option>Reason For Visit</option>
															<option>Reason For Visit</option>
														</select>
													</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-md-12 col-lg-12">
                                            <textarea placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-userdetail">
                                    <div class="form-group">
                                        <div class="tg-heading">
                                            <h3>Enter Your Details</h3>
                                        </div>
                                        <div class="tg-alreadyhaveaccount">
                                            <span>Already have an account?<a href="#"> Login Now</a></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
													<span class="tg-select">
														<select>
															<option>Gender</option>
															<option>Male</option>
															<option>Female</option>
														</select>
													</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <input type="password" name="retype-password" class="form-control" placeholder="Retype Password">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="tg-btnarea">
                                                <a class="tg-btn tg-btnprevious" href="javascript:void(0);">Go Back</a>
                                                <a class="tg-btn tg-btnnext" href="javascript:void(0);">Continue</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="tg-formstepthree">
                            <div class="tg-appointmenthead">
                                <a class="tg-btn tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
                                <div class="tg-appointmentheading">
                                    <h2>Thu, Jan 25 (Tomorrow) at 12:00</h2>
                                </div>
                            </div>
                            <div class="tg-progressbox">
                                <ul class="tg-formprogressbar">
                                    <li class="tg-active"><span>Instructions</span></li>
                                    <li><span>Your Details</span></li>
                                    <li><span>Code Authentication</span></li>
                                    <li><span>Instructions</span></li>
                                    <li><span>Instructions</span></li>
                                </ul>
                                <div class="form-group">
                                    <div class="tg-heading">
                                        <h3>Authentication Required</h3>
                                    </div>
                                </div>
                                <div class="tg-description">
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi <a href="#">yourmail@domain.com</a> tempora incidunt ut labore et dolore. If did not receive please send us email at <a href="#">support@domain</a>.com OR Call us at 0800 1234 567.</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="text" name="authenticationcode" class="form-control" placeholder="Authentication Code">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Type Password">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Retype Password">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="tg-btnarea">
                                            <a class="tg-btn tg-btnprevious" href="javascript:void(0);">Go Back</a>
                                            <a class="tg-btn tg-btnnext" href="javascript:void(0);">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="tg-formstepfour">
                            <div class="tg-appointmenthead">
                                <a class="tg-btn tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
                                <div class="tg-appointmentheading">
                                    <h2>Thu, Jan 25 (Tomorrow) at 12:00</h2>
                                </div>
                            </div>
                            <div class="tg-progressbox">
                                <ul class="tg-formprogressbar">
                                    <li class="tg-active"><span>Instructions</span></li>
                                    <li><span>Your Details</span></li>
                                    <li><span>Code Authentication</span></li>
                                    <li><span>Payment Options</span></li>
                                    <li><span>Instructions</span></li>
                                </ul>
                                <div class="form-group">
                                    <div class="tg-heading">
                                        <h3>How Would You Like To Pay?</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="tg-radio">
                                        <input type="radio" id="bank" name="payment" checked>
                                        <label for="bank">Pay Through Bank Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="tg-radio">
                                        <input type="radio" id="paypal" name="payment">
                                        <label for="paypal">Pay through Paypal <img src="images/paypal.jpg" alt="image description"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="tg-radio">
                                        <input type="radio" id="creditcard" name="payment">
                                        <label for="creditcard">Pay through Credit Cards <img src="images/cards.jpg" alt="image description"></label>
                                    </div>
                                </div>
                                <div class="tg-btnarea">
                                    <a class="tg-btn tg-btnprevious" href="javascript:void(0);">Go Back</a>
                                    <a class="tg-btn tg-btnnext" href="javascript:void(0);">Continue</a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="tg-formstepfive">
                            <div class="tg-appointmenthead">
                                <a class="tg-btnedite" href="#"><i class="lnr lnr-printer"></i></a>
                                <div class="tg-appointmentheading">
                                    <h2>Thanks For Giving Us Opportunity</h2>
                                </div>
                            </div>
                            <div class="tg-progressbox">
                                <ul class="tg-formprogressbar">
                                    <li class="tg-active"><span>Instructions</span></li>
                                    <li><span>Your Details</span></li>
                                    <li><span>Code Authentication</span></li>
                                    <li><span>Payment Options</span></li>
                                    <li><span>All Done</span></li>
                                </ul>
                                <div class="form-group">
                                    <div class="tg-heading">
                                        <h3>Appointment Summary</h3>
                                    </div>
                                    <div class="tg-reminderemail">
                                        <span>Appointment ID: 1558AJYC22</span>
                                    </div>
                                </div>
                                <ul class="tg-appointmentsummry">
                                    <li>
                                        <strong>Date:</strong>
                                        <span>Thu, Jan 25 (Tomorrow)</span>
                                    </li>
                                    <li>
                                        <strong>Time:</strong>
                                        <span>12:00pm</span>
                                    </li>
                                    <li>
                                        <strong>Service Provider:</strong>
                                        <span>Bright Future Group &amp; Company</span>
                                    </li>
                                    <li>
                                        <strong>Service:</strong>
                                        <span>Building Light Checking</span>
                                    </li>
                                    <li>
                                        <strong>Appointment Type:</strong>
                                        <span>Fist Time Service</span>
                                    </li>
                                    <li>
                                        <strong>Reason For Visit:</strong>
                                        <span>Inspection</span>
                                    </li>
                                    <li>
                                        <strong>Description:</strong>
                                        <span>
												<div class="tg-description">
													<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
												</div>
											</span>
                                    </li>
                                </ul>
                                <div class="tg-btnarea">
                                    <a class="tg-btn tg-btnprevious" href="javascript:void(0);">Go Back</a>
                                    <a class="tg-btn" href="javascript:void(0);">finish</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--************************************
                Appointment End
        *************************************-->
    </main>

{% endblock %}