{% extends "dashboard_front.html.twig" %}{% set menu_selected='front_gererService' %}
{% block content %}
    <script>
        $(document).ready(function () {
            ajaxCall();
            var $scoin=$('#scoin');
            var $bouton=$('#customButton');
            var verif=0;
            $("#langue").click(
                function () {
                    ajaxAdd();
                }
            )
            function ajaxAdd(){
                $.ajax({
                    url: "{{ path('ajouterLangue') }}",
                    method: "post",
                    data: {idUser: "{{ app.user.id }}",idLangue:$('#langues1 option:selected').val()}
                }).success(function(msg) {
                    ajaxCall();
                });
            }
            function ajaxRemove(){
                $.ajax({
                    url: "{{ path('supprimerLangue') }}",
                    method: "post",
                    data: {idUser: "{{ app.user.id }}",idLangue:this.id}
                }).success(function(msg) {
                    ajaxCall();
                });
            }
            function ajaxCall(){
                $.ajax({
                    url: "{{ path('languesUser') }}",
                    method: "post",
                    data: {id: "{{ app.user.id }}"}
                }).success(function(msg) {
                    refreshList(msg);
                });

            }
            function refreshList(msg) {
                $('#langues').text("");
                $.each(msg.langues, function (i,item) {
                    console.log(item);
                    var li = document.createElement('li');
                    var span = document.createElement('span');
                    span.className='tg-tagdashboard';
                    var i = document.createElement('i');
                    i.className='fa fa-close';
                    i.setAttribute("id",item.id);
                    i.onclick=ajaxRemove;
                    var em = document.createElement('em');
                    var text = document.createTextNode(item.libelle);
                    em.appendChild(text);
                    span.appendChild(i);
                    span.appendChild(em);
                    li.appendChild(span);
                    $('#langues').append(li);
                });
            }
            $scoin.keyup(function () {
                if ( parseInt($(this).val())<1 || parseInt($(this).val())!=$(this).val())
                {
                    verif=0;
                    $(this).css({
                        borderColor: 'red',
                        color: 'red'
                    });
                }
                else
                {
                    verif=1
                    $(this).css({
                        borderColor: 'green',
                        color: 'green'
                    });
                }
            })
            $bouton.click(function (e) {
                if (verif==0)
                {
                    e.preventDefault();
                }
            })
        });
    </script>
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Profil</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        <li class="tg-active">Mes services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block content_dashboard %}
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
        <div id="tg-content" class="tg-content">
            <div class="tg-dashboard tg-dashboardmanageservices">
                <div class="tg-dashboardhead">
                    <div class="tg-dashboardtitle">
                        <h2>Mes Services</h2>
                        <a href="{{ path('front_proposerServiceUser') }}">Proposer un service</a>
                    </div>
                    <button class="tg-btnaddservices" data-toggle="modal" data-target=".tg-categoryModal">+ Ajouter un Service </button>



                </div>
                {% for s in su %}
                    <div class="tg-dashboardservices">
                        <div class="tg-dashboardservice">
                            <tr>
                                <td>


                                </td>
                                <td>
                                    <div class="tg-servicetitle">
                                        <h2><a href="javascript:void(0);">{{ s.idService.nom }}</a> <span>( {{ s.idService.CategorieService.nom }} )</span></h2>
                                    </div>

                                    <div class="tg-btntimeedit">
                                        <span>{{ s.prix }} Scoins</span>
                                        <a href="{{ path('front_supprimerServiceUser',{'id': s.idService.id}) }}"><button class="tg-btndel"><i class="lnr lnr-trash"></i></button></a>


                                    </div>
                                </td>
                            </tr>
                        </div>

                    </div>
                {% endfor %}
                <div id="tg-updateall" class="tg-updateall">
                    <div class="tg-holder">
                        <span class="tg-note">* Click <strong>Update Now</strong> to update latest added detail (s).</span>
                        <a class="tg-btn" href="#">Update Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade tg-servicesmodal tg-categoryModal" tabindex="-1">
        <div class="modal-dialog tg-modaldialog" role="document">
            <div class="modal-content tg-modalcontent">
                <div class="tg-modalhead">
                    <h2>Ajouter un service</h2>
                </div>
                <div class="tg-modalbody">
                    <form class="tg-themeform tg-formaddservices" name="form" method="POST" action="{{ path('front_ajouterServiceUser') }}">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <select class="form-control" id="addCategorie" name="addCategorie">
                                            <option value="">choisir une categorie de service</option>
                                            {% for c in categorie %}
                                                <option value="{{ c.id }}">{{ c.Nom }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <select class="form-control" id="addService" name="addService">
                                            <option value="">choisir un service</option>
                                            {% for s in service %}

                                                <option value="{{ s.id }}">{{ s.Nom }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <span id="prixMoyen"></span>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <input type="number" name="prix" placeholder="prix" id="prix">

                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <input type="text" name="description" id="description" placeholder="Description" >
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="tg-modalfoot">
                            <button class="tg-btn" type="submit" id="ajouter">ajouter</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

        $('#addCategorie').change(function () {

            $('#prixMoyen').empty();
            $("#prixMoyen").html("");

            var serviceSelector = $(this);
            var serv=$('#addService');


            var ca=$('#addCategorie').val();

            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('front_gestionService') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    serviceid: serviceSelector.val(),
                    moy: serv.val()

                },
                success: function (neighborhoods) {

                    $('#addService').text("");
                    console.log("moy");
                    console.log(neighborhoods.moyenne);
                    $.each(neighborhoods.moyenne,function (id,item) {
                        var inp=document.createElement('input');
                        inp.value=item.id;
                        inp.append(item.moyenne);
                        console.log(item.moyenne);
                        $('#prix').append(item.moyenne);
                    })

                    $.each(neighborhoods.service, function (id, item) {
                        // console.log(item.nom)
                        var option=document.createElement('option');
                        option.value=item.id;
                        //option.attr("value",item.id)
                        //var text = "item.nom;
                        option.append(item.nom);

                        //     console.log();
                        $('#addService').append(option);
                    });

                },

            });
        });
        $('#addService').change(function () {

            $("#prixMoyen").html("");
            var serv=$(this);
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('front_gestionService') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    moy: serv.val()

                },
                success: function (neighborhoods) {
                    $("#prixMoyen").html("");
                    $('#description').text("");
                    console.log("moy");
                    console.log(neighborhoods.moyenne);
                    $.each(neighborhoods.moyenne,function (id,item) {
                        var inp=document.createElement('input');
                        inp.value=item.id;
                        inp.append(item.moyenne);
                        console.log(item.moyenne);
                        if(item.moyenne != null)
                        {
                            $('#prixMoyen').append("   Le prix Moyen pour ce service est ",item.moyenne," ","SCoins");
                            $('#prixMoyen').css({
                                font: 12 ,
                                color : 'red', // bordure rouge
                                paddingLeft : '20px', // marge intérieure de 30px
                                'margin-left' : '10px', // marge extérieure de 10px

                            });
                            $('#prixMoyen').show();
                        }
                    })

                },

            });
        });


    </script>



{% endblock %}