{% extends "front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Connexion{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Se connecter / S'inscrire</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Accueil</a></li>
                        <li class="tg-active">S'inscrire</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Page Banner End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
        <!--************************************
                Login Register Start
        *************************************-->

        <div class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="row">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-themeform tg-formlogin-register">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="tg-heading">
                                    <h2>S'inscrire</h2>
                                </div>

                                <fieldset>
                                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                                        <div class="tg-themetabcontent tab-content">
                                            <div class="tab-pane active fade in" id="regularuser">
                                                <div class="form-group">
                                                    {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Pseudo'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control','placeholder':'Prenom'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control','placeholder':'Nom'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'Mot de passe'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Confirmez votre mot de passe'}}) }}
                                                </div>
                                                <div class="form-group">
                                                </div>
                                                <button class="tg-btn" type="submit" value="{{ 'registration.submit'|trans }}">Inscription</button>
                                                <ul class="tg-socialicons tg-socialsharewithtext">
                                                </ul>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                </fieldset>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tg-loginarea">
                                    <div class="tg-bordertitle">
                                        <h3>Se connecter</h3>
                                    </div>
                                    <fieldset>
                                        <form action="{{ path("fos_user_security_check") }}" method="post">

                                            <div class="form-group">
                                                <input type="username" id="username" name="_username" class="form-control" placeholder="Email ou Pseudo">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe">
                                            </div>
                                            <div class="form-group">
                                                <button class="tg-btn tg-btn-lg" id="_submit" name="_submit" type="submit">Connexion</button>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--************************************
                Login Register End
        *************************************-->
    </main>
    <!--************************************
            Main End
    *************************************-->
{% endblock %}
