{% extends "back.html.twig" %}

{% block content %}
    <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="col-12 col-lg-6">
            <div class="tab tab-primary">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#primary-tab-1" data-toggle="tab" role="tab">Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="#primary-tab-2" data-toggle="tab" role="tab">Actions</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="primary-tab-1" role="tabpanel">
                        <h4 class="tab-title">Reclamation Numero : {{ rec.id }} Posté : {{ rec.DateReclamation|date('F jS \\a\\t g:ia') }}</h4>
                        <p><bold> de la part de </bold> {{ rec.user.firstname }}</p>
                        <p><bold>Contre : {{ rec.userreclame }}</bold> </p>
                        <p><bold>Objet : </bold>{{ rec.Object }}</p>
                        <p><bold>Description : </bold>{{ rec.Description }}</p>
                    </div>
                    <div class="tab-pane" id="primary-tab-2" role="tabpanel">
                        <h4 class="tab-title">Actions</h4>
                        <form action="{{ path('main_traite_reclamation_admin',{'rec':rec.id}) }}">
                            {% if rec.traite == 0  %}
                            <button class="btn btn-success">Traiter cette reclamation</button>
                            {% else %}
                            <p>Cette Reclamation est traitée</p>
                            {% endif %}
                        </form>
                        <br>
                        <br>
                        <form action="{{ path('main_supprimer_reclamation_admin',{'rec':rec.id}) }} }}">
                            <button class="btn btn-danger">Archiver</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    </center>
{% endblock %}